<%inherit file="base.html" />

<h3>What is this all about?</h3>
<p>
    It's fun to hang around with friends, especially when you are cooking a tasty meal together :)
    You don't want to think about money or debts and this is why we are here. Just enter what you bought for the meal and enter the addresses of your friends. We will do the rest
</p>

<h3>How does it work?</h3>
<p>
    We love emails. This is why you can share debts with your friends, even if your friends don't have a splitpot-account. You just have to enter their email addresses. At the end of the month, we sum up all the debts and try to minimize the number of money transactions between you and your friends and everybody gets a mail, who has to give who how much money.
</p>
