## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%! import cherrypy %>

Add your expenses that you made for others.
<form name="doAdd" action= "doAdd" method="post">
    <table>
        <tr>
            <td>Date:</td>
            <td><input type="text" value="01-01-1990" data-date-format="dd-mm-yyyy" class="datepicker" /></td> 
        <tr>
            <td>Amount:</td>
            <td><input type="text" name="amount" value="${amount or ""}" /></td>
        </tr>
        <tr>
            <td>Comment:</td>
            <td><textarea name="comment" rows="4" cols="30">${comment or ""}</textarea></td>
        </tr>
        <tr>
            <td>Others:</td>
            <td><input type="text" name="others" id="others" value="${others or ""}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="submit"></td>
        </tr>
    </table>
</form>

<script>
        $(document).ready(function() {
        $('.datepicker').datepicker(today);
        
        function split( val ) {
          return val.split( /,\s*/ );
        }
 
        function extractLast( term ) {
          return split( term ).pop();
        }
        $( "#others" ).autocomplete({
          source: function( request, response ) {
                    console.log("source");
                    $.getJSON( "${cherrypy.url('/autocomplete')}", {
                      term: extractLast( request.term )
                    }, response );
                  },
          select: function( event, ui ) {
                    console.log("select");
                    // Add the selected term appending to the current values with a comma
                    var terms = split( this.value );
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push( ui.item.value );
                    // join all terms with a comma
                    this.value = terms.join( ", " );
                    return false;
                  },
          focus: function() {
                    console.log("focus");
                   // prevent value inserted on focus when navigating the drop down list
                   return false;
                 }
        });
      });
</script>
