## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%! import cherrypy %>

Which e-mail-addresses would you like to add as an alias (separate several aliases with a comma)?<br />
If the e-mail is already registered (activated or not, doesn't matter), you can also merge those e-mails here: <a href="${cherrypy.url('merge')}">Merge E-Mails</a><br /> 
<br />

<form name="alias" action="doAddAlias" method="post">
    Aliases: <input type="text" name="alias" /><br />
    <input type="submit" value="submit">
</form>
