## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%! import cherrypy %>
<%! from Auth import getCurrentUserName %>
<%! from DatabaseParser import resolveNick %>
<div id="config-header">
Your debts: ${("%.2f" % debts).replace('.', ',')}€ <br />
Others owe you: ${("%.2f" % others_debts).replace('.',',')}€ <br />
</div>

<div class="expensesList">
    <% 
        curMonth = ''
    %>
    ${curMonth}
    % for x in entries:
        % if curMonth != x.date.strftime("%B"):
        <div class="monthSeparator">
                <span>${x.date.strftime("%B %Y")}</span>
            </div>
        % endif
        <% curMonth = x.date.strftime("%B") %>
        <a class="eventAnchor" href="${cherrypy.url('event/' + str(x.id))}">
            <div class="expenseEntry">
                % if x.amount > 0:
                <div class="amount" style="color: #069a1e">
                % else:
                <div class="amount" style="color: #a30303">
                % endif

                    ${("%.2f" % (x.amount / float(len(x.participants) + 1))).replace('.',',')}€<br />
                </div>
                <div class="date">
                    ${x.date.strftime("%d")}
                    ${x.date.strftime("%b")}
                </div>
                <div class="title">
                    ${x.comment}
                </div>
                <div class="owner">
                    % if x.owner == getCurrentUserName():
                        by you
                    % else:
                        by ${resolveNick(x.owner)}
                    % endif
                </div>
            </div>
        </a>
    % endfor
