## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%! import cherrypy %>
<%! from Auth import getCurrentUserName %>
<%! from DatabaseParser import resolveNick %>
Your debts: ${("%.2f" % debts).replace('.', ',')}€ <br />
Others owe you: ${("%.2f" % others_debts).replace('.',',')}€ <br />
<hr />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
          <th>Date</th>
          <th>Host</th>
          <th>Amount</th>
          <th>Details</th>
        </tr>
    </thead>
    <tbody>
        % for x in entries:
        <tr>
          <td>
              ${x.date.strftime("%d %b")}
          </td>
          <td>
              % if x.owner == getCurrentUserName():
                  ${"you"} 
              % else:
                  ${resolveNick(x.owner)}
              % endif
          </td>
          <td>
            ${("%.2f" % (x.amount / float(len(x.participants) + 1))).replace('.',',')}€
          </td>
          <td>
              <a href="${cherrypy.url('event/' + str(x.id))}">more</a>
          </td>
        </tr>
        % endfor
    </tbody>
</table>
