/* Message feedback boxes: http://www.jankoatwarpspeed.com/css-message-boxes-for-different-message-types/ */
.good_news, .bad_news {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.bad_news {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/bad_news.png');
}
.good_news {
    background-image:url('../img/good_news.png');
    color: #4F8A10;
    background-color: #DFF2BF;
}

.customButton {
    width: 200px !important;
}
