## This file contains settings for sending mails

host: localhost
sender: admin@localhost.org 
port: 25

##timeout is in seconds
timeout: 10

### optional smtp login ###
###########################
#user: login
#password: pwd
## possible values are 'no', 'yes'
#encryption: yes 
