<%inherit file="base.html" />


<form action="forgot_doReenter" method="post">
    <p>
        <input type="text" name="email" value="${email or ''}" placeholder="Email" /><br />
        <input type=text" name="resetKey" value="${resetKey or ''}" placeholder="Reset key" />
        <input type="password" name="pwd1" placeholder="Password" />
        <input type="password" name="pwd2" placeholder="Retype password" />
        <button class="btn btn-large btn-primary" type="submit">Send</button>
    </p>
</form>
