<%inherit file="base.html" />


${feedback or ""}<br />
<form action="doRegister" method="post">
  <p>
  Email: <input type="text" name="email" value="${givenEmail or ""}" readonly /><br />
    ActivationKey: <input type="text" name="key" value="${givenKey or ""}" readonly /><br />
    Nick: <input type="text" name="nick" /><br />
    Pasword: <input type="password" name="pwd1" /><br />
    aaand again:<input type="password" name="pwd2" /><br />
    <input type="submit" value="Send" />
  </p>
</form>
